@model Manage.Models.FOOD

@{
    ViewBag.Title = "Xóa món ăn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    h3, h4 {
        color: red;
        font-weight: bold;
    }

    img {
        width: 200px;
        margin-bottom: 20px;
    }

    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 180px;
    }
</style>

<h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>
<h3>Bạn chắc chắn xóa món ăn này?</h3>
<h4>@Html.Raw(ViewBag.ThongBao)</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price):
        </dt>

        <dd>
            @Html.FormatValue(Model.price, "{0:#,##0 VNĐ}")
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("VỀ TRANG QUẢN LÝ", "Index")
        </div>
    }
</div>
